---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: "Upright";
  src: url("/lahau-rahi-le-cange-lehu/assets/fonts/zbalermorna_upright.otf") format("opentype");
}

.site-title,
.visible-links {
  font-family: Upright;
}

.jbobau {
  tr:nth-child(2n+1) {
    background: #eee;
  }
  td {
    border-bottom: 0;
    &:first-child {
      font: 1.2em Upright;
      line-height: 1em;
    }
  }
}
