---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: "Zbalermorna Upright";
  src: url("/lahau-rahi-le-cange-lihu/assets/fonts/zbalermorna_upright.otf") format("opentype");
}

@mixin zbalermorna {
  font: 1.1em "Zbalermorna Upright";
  transition-property: none;
  &:hover {
    font: 1em sans-serif;
  }
}

h1 {
  text-align: center;
}

.jbobau,
.masthead a {
  @include zbalermorna;
}

.palne-jbobau {
  thead * {
    text-align: center;
  }
  tbody {
    font-size: 1.2em;
    border-bottom: 1.5em solid #eee;
  }
  tr > * {
    width: 50%;
    &:first-child {
      font-size: 1.1em !important;
      @include zbalermorna;
    }
  }
  .latmylerfu {
    font-family: sans-serif;
  }
}
