---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/default"; // skin
@import "minimal-mistakes"; // main partials

@font-face {
  font-family: "Zbalermorna Upright";
  src: url("/lahau-rahi-le-cange-lihu/assets/fonts/zbalermorna_upright.otf") format("opentype");
}

@mixin zbalermorna {
  font-size: 1.25em;
  font-family: "Zbalermorna Upright";
  // *:hover > &, // so span.jbobau works _within_ a link ... but is overeager with .palne-jbobau
  &:hover {
    font-size: 1.1em !important;
    font-family: sans-serif !important;
    line-height: 2em !important;
  }
}

* {
  transition: none !important;
}

h1 {
  text-align: center;
}

.archive__item-excerpt,
.jbobau,
.masthead a {
  //@include zbalermorna;
}

.palne-jbobau {
  thead * {
    text-align: center;
  }
  tbody {
    font-size: 1.2em;
    border-bottom: 1.5em solid #eee;
  }
  tr > * {
    width: 50%;
    &:first-child {
      //@include zbalermorna;
    }
  }
  .latmylerfu {
    font-family: sans-serif;
  }
}
